/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Rubik:ital,wght@0,300;1,600&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}
/* Global variables */
:root {
    --sideBGColor: #040b14;
    --themeColor: #00A7BE;
    --iconBGColor: #2C2F3F;
    --textColor: #525252;
    --bgColor: #F7F7F7;
}

/* ==== Header Start ==== */

